


<!--
./images/up.gif
./images/down.gif
-->



<div class="row" >
		<div class="col-md-8">
		<div>

			<h1>{{label}}</h1>
			<br />

			<p>{{description}}</p>

			</div>
		
		</div>
		
		
		<div class="col-md-4">
		
		<h3>Vous n'avez pas encore voté</h3>
		<br />
		<div class="text-center">
			<div class="btn-group btn-group " role="group" aria-label="...">
			  <button type="button" class="btn btn-default">
			  	Pour
			  </button>
			  <button type="button" class="btn btn-default">
			  	Neutre
			  </button>
			  <button type="button" class="btn btn-default">
			  	Contre
			  </button>
			</div>
		</div>
		
		
		<br />
		
		
		<div class="text-center">
		  <button type="button" class="btn btn-primary btn-lg">
		  	Voter
		  </button>
		</div>
		
		<br />
		<br />
		
		
		</div>
		
		
		






